<section class="max-w-7xl mx-auto p-6">
  <app-title title="Shop by Category" />

  <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 gap-4">
    @for(category of categories; track $index){
    <div [routerLink]="['/categories', category.name.toLowerCase()]" class="relative group cursor-pointer overflow-hidden rounded-lg shadow-md">
      <img [src]="category.image" [alt]="category.name"
           class="w-full h-70 object-cover transition-transform duration-300 group-hover:scale-105">

      <div class="absolute inset-x-0 bottom-0 bg-gradient-to-t from-black/70 to-transparent p-3">
        <span class="text-white text-lg font-semibold">{{category.name}}</span>
      </div>

      <div class="absolute inset-0 bg-black/0 group-hover:bg-black/30 transition-colors duration-300">
      </div>
    </div>
    }
  </div>
</section>
