<div class="container">
  <div class="content">
    <h1>Contact Us</h1>
    <p>We’d love to hear from you! Reach out using the details below.</p>
  </div>

  <div class="contact-info">
    <div>
      <h2>Our Office</h2>
      <p><strong>Address:</strong> Sofia, Bulgaria</p>
      <p><strong>Phone:</strong> +359 999 999 999</p>
      <p><strong>Email:</strong> info&#64;nomeya.com</p>
    </div>

    <div>
      <h2>Working hours</h2>
      <p><strong>Mon - Fri:</strong>:00 - 18:00</p>
      <p><strong>Sat - Sun:</strong> Closed</p>
    </div>

  </div>

  <div class="contact-map">
    <h2>Find Us Here</h2>
    <div id="map">
    </div>
  </div>
</div>
